@import url(/src/css/colors.css);

::selection {
	background: var(--light-purple-30);
}

#root {
  height: 100vh;
  background: linear-gradient(140deg, rgba(44,50,129,1) 0%, rgba(94,80,152,1) 50%, rgba(180,118,167,1) 87%, rgba(228,172,95,1) 100%);
  overflow: auto;
}

.App::-webkit-scrollbar {
  display: none;
}

.App {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 100vw;
  color: var(--light-yellow);
  font-size: 14px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Centered {
  text-align: center;
}

@media screen and (min-width: 1921px) {
  .App {
    max-width: calc(1600px + 2 * 80px);
    margin: auto;
  }
}

.Grid {
  display: grid;
  grid-template-columns: 189px minmax(1100px, 1fr);
  gap: 0 80px;
  margin: 80px;
}

.TopHeader {
  font-size:x-large;
  margin-bottom: 30px;
}

.ShareAbout {
  font-size: medium;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border-radius: 16px;
  background-color: var(--navy);
  color: var(--light-yellow);
  white-space: pre-line;
  text-align: center;
  margin: 0;
}

.ModalButton {
  margin: 0 8px;
  display: inline-block;
}

.ModalButton p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.ShareModal {
  padding: 20px;
  width: 300px;
}

.AboutModal {
  padding: 50px;
  width: 510px;
}

.ModalText {
  margin: 0;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 60%);
}

.Divider {
  border: none;
  height: 2px;
  background: var(--light-purple-30);
  border-radius: 8px;
}

.PlaylistSection {
  margin-top: 30px;
}

.BackgroundSection {
  margin-top: 40px;
}

.IFrameContainer {
  position: relative;
	width: 100%;
	padding-top: 56.25%;
  margin: auto;
}

iframe {
  position: absolute;
	border: none;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.PlaylistOptionParent {
  margin: 20px -15px -20px;
  display: inline-block;
}

.PlaylistOptionMargin {
  margin: 0px 15px 20px;
}

.PlaylistOption {
  float: left;
  display: inline;
  color: var(--light-purple);
}

.PlaylistOption:hover {
  cursor: pointer;
}

.SelectedIndex {
  color: var(--light-yellow);
}

.LinkInstruction {
  color: var(--light-purple);
  text-align: center;
}

.PlaylistInput {
  background-color: var(--light-purple-10);
  padding: 8px 16px;
  border: 0;
  border-radius: 6px;
  color: var(--light-yellow);
  outline: none;
  box-sizing: border-box;
  width: 100%;
}

.PlaylistInput::placeholder {
  color: var(--light-purple);
}

.BackgroundControls {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  gap: 10px;
}

.BackgroundControls p {
  margin: 0 0 6px;
  font-size: 24px;
}

.SliderContainer {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 4px;
  width: calc(100% - 3px);
  background-color: var(--light-purple-30);
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

.SliderActual {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 4px;
  background: var(--light-purple);
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

.Slider {
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  -webkit-appearance: none;
  outline: none;
  height: 0;
  cursor: pointer;
}

.Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--light-purple);
  border-radius: 6px;
  width: 6px;
  height: 18px;
  cursor: pointer;
}

.Slider::-moz-range-thumb {
  width: 6px;
  height: 18px;
  border: none;
  background-color: var(--light-purple);
  cursor: pointer;
}

.ToggleButton {
  margin-top: 9px;
  height: 20px;
  cursor: pointer;
  transition: 0.33s ease;
}

.ToggleButton:hover {
  filter: sepia(100%);
}
