@import url(/src/css/colors.css);

#root {
  height: 100vh;
  background: linear-gradient(140deg, rgba(44,50,129,1) 0%, rgba(94,80,152,1) 50%, rgba(180,118,167,1) 87%, rgba(228,172,95,1) 100%);
}

.App {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center;
  text-align: center; */
  max-height: 100vh;
  max-width: 100vw;
  font-size: calc(10px + 2vmin);
  color: var(--light-yellow);
  font-size: medium;
}

.Centered {
  text-align: center;
}

@media screen and (min-width: 1921px) {
  .App {
    max-width: calc(1600px + 2 * 80px);
    margin: auto;
  }
}

.Grid {
  display: grid;
  grid-template-columns: 189px 1fr;
  gap: 0 80px;
  margin: 80px;
}

.TopHeader {
  font-size:x-large;
  margin-bottom: 30px;
}

.Divider {
  border: none;
  height: 2px;
  background: var(--light-purple-fade);
  border-radius: 8px;
}

.PlaylistSection {
  margin-top: 30px;
}

.BackgroundSection {
  margin-top: 40px;
}

.IFrameContainer {
  position: relative;
	width: 100%;
	padding-top: 56.25%;
}

iframe {
  position: absolute;
	border: none;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

/* I can't edit the :hover for this, but what I CAN do is this LMAO */
/* .dd-list-item:hover {
  filter: hue-rotate(193deg);
  opacity: 86%;
} */

.PlaylistOptionParent {
  margin: 20px -15px -20px;
  display: inline-block;
}

.PlaylistOption {
  margin: 0px 15px 20px;
  float: left;
  display: inline;
  color: var(--light-purple);
}

.PlaylistOption:hover {
  cursor: pointer;
}
