@import url(/src/css/colors.css);

::selection {
  background: var(--light-purple-30);
}

#root {
  height: 100vh;

  /* MOBILE */
  /* background: linear-gradient(150deg, rgba(62,70,166,1) 16%, rgba(151,108,181,1) 79%);  */

  /* DESKTOP */
  background: linear-gradient(150deg, rgba(62, 70, 166, 1) 16%, rgba(151, 108, 181, 1) 58%, rgba(255, 171, 137, 1) 100%);

  overflow: auto;
}

.App::-webkit-scrollbar {
  display: none;
}

.App {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 100vw;
  color: var(--light-yellow);
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Centered {
  text-align: center;
}

.FlexCenter {
  margin: 0;
  max-width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 16px;
}

@media screen and (min-width: 1921px) {
  .App {
    max-width: calc(1600px + 2 * 80px);
    margin: auto;
  }

  .Grid {
    grid-template-columns: 189px minmax(1100px, 1fr);
  }
}

.Grid {
  display: grid;
  grid-template-columns: 189px minmax(900px, 1fr);
  gap: 0 80px;
  margin: 80px;
}

.TopHeader {
  margin-bottom: 30px;
}

.Logo {
  width: 100%;
  margin-bottom: 20px;
}

.LogoAbout {
  width: 50%;
}

.LogoAboutFull {
  width: 30%;
}

.Title {
  margin: 0 0 20px;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border-radius: 16px;
  background-color: var(--navy);
  color: var(--light-yellow);
  white-space: pre-line;
  text-align: center;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.ModalButton {
  margin: 0 8px;
  display: inline-block;
}

.ModalButton p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.ShareModal {
  padding: 30px 20px 20px;
  width: 400px;
}

.AboutModal {
  padding: 50px;
  width: 510px;
}

.ModalText {
  margin: 0;
  font-weight: bold;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 60%);
}

.ModalClose {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  border: none;
  color: var(--light-yellow);
  font-size: x-large;
  cursor: pointer;
  transition: 0.33s ease;
}

.ModalClose:hover {
  color: var(--light-purple);
}

.ShareModal button {
  margin: 6px 10px 0 0;
}

.AboutModal button {
  margin: 16px 20px 0 0;
}

.ShareTitle {
  font-weight: bold;
  margin-bottom: 10px;
}

.ShareLine {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 100px;
  text-align: center;
}

.LinkArea {
  display: inline;
  text-align: left;
  background-color: var(--light-purple-10);
  font-size: 16px;
  color: var(--light-purple);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 8px 24px;
  margin-right: -4px;
}

.LinkArea::selection {
  background-color: var(--navy);
  color: var(--light-yellow);
}

.CopyButton {
  display: inline;
  background-color: var(--light-purple);
  color: var(--navy);
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: 0;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 !important;
}

.Divider {
  border: none;
  height: 2px;
  background: var(--light-purple-30);
  border-radius: 8px;
}

.PlaylistSection {
  margin-top: 30px;
}

.BackgroundSection {
  margin-top: 40px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .Grid {
    grid-template-columns: 1fr;
  }

  .Logo {
    width: 33%;
  }

  .Divider {
    display: none;
  }

  .PlaylistSection {
    position: absolute;
    margin-top: 30px;
    width: 189px;
    height: 300px;
    left: 20%;
    top: 60%;
  }

  .BackgroundSection {
    position: absolute;
    margin-top: 30px;
    width: 189px;
    height: 300px;
    right: 20%;
    top: 60%;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  #root {
    height: 130vh;
  }

  .Grid {
    margin: 5% 20px 20px;
    grid-template-columns: 1fr;
  }

  .Logo {
    width: 70%;
  }

  .Divider {
    display: none;
  }

  .PlaylistSection {
    position: absolute;
    margin-top: 30px;
    top: 400px;
    left: 40px;
    right: 40px;
  }

  .BackgroundSection {
    position: absolute;
    margin-top: 30px;
    padding-bottom: 30px;
    top: 640px;
    left: 40px;
    right: 40px;
  }
}

.IFrameContainer {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin: 0 auto auto;
}

iframe {
  position: absolute;
  border: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.PlaylistOptionParent {
  margin: 20px -15px 0;
  display: inline-block;
}

.PlaylistOptionMargin {
  margin: 0px 15px 20px;
}

.PlaylistOption {
  float: left;
  display: inline;
  color: var(--light-purple);
}

.PlaylistOption:hover {
  cursor: pointer;
}

.SelectedIndex {
  color: var(--light-yellow);
}

.LinkInstruction {
  color: var(--light-purple);
  text-align: center;
}

.PlaylistInput {
  background-color: var(--light-purple-10);
  padding: 8px 16px;
  border: 0;
  border-radius: 6px;
  color: var(--light-yellow);
  outline: none;
  box-sizing: border-box;
  width: 100%;
}

.PlaylistInput::placeholder {
  color: var(--light-purple);
}

.LoopContainer {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 32px;
  user-select: none;
}

.LoopContainer input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}

.Checkmark {
  position: absolute;
  left: 4px;
  top: 1px;
  height: 18px;
  width: 18px;
  background-color: var(--light-purple-30);
  border-radius: 4px;
}

.LoopContainer:hover input~.Checkmark {
  background-color: var(--light-purple-30);
  transition: 0.33s ease;
}

.LoopContainer input:checked~.Checkmark {
  background-color: var(--light-purple-30);
}

.Checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.LoopContainer input:checked~.Checkmark:after {
  display: block;
}

.LoopContainer .Checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 11px;
  border: solid var(--light-yellow);
  border-width: 0 2px 2px 0;
  transform: rotate(40deg);
}

.BackgroundControls {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  gap: 10px;
}

.BackgroundControls p {
  margin: 0 0 6px;
  font-size: 24px;
}

.SliderContainer {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 4px;
  width: calc(100% - 3px);
  background-color: var(--light-purple-30);
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

.SliderActual {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 4px;
  background: var(--light-purple);
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

.Slider {
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  -webkit-appearance: none;
  outline: none;
  height: 0;
  cursor: pointer;
}

.Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--light-purple);
  border-radius: 6px;
  width: 6px;
  height: 18px;
  cursor: pointer;
}

.Slider::-moz-range-thumb {
  width: 6px;
  height: 18px;
  border: none;
  background-color: var(--light-purple);
  cursor: pointer;
}

.ToggleButton {
  margin-top: 9px;
  height: 20px;
  cursor: pointer;
  transition: 0.33s ease;
}

.ToggleButton:hover {
  filter: sepia(100%);
}

.Link {
  color: var(--light-yellow);
  text-decoration: underline;
}

.dd-list-item:hover {
  background-color: var(--light-purple-30) !important;
  color: var(--light-yellow) !important;
}
